{% extends 'cheskers/base.html' %}

{% load static %}

{% block title %}Reset password{% endblock %}

{% block head_imports %}
    <link rel="stylesheet" href="{% static 'accounts/password_reset_form.css' %}">
{% endblock %}

{% block content %}
<div class="form-div">
  <form method="post">
    {% csrf_token %}
    <div class="description"><span>Forgotten your password? <br> Enter your email address below, and we’ll email instructions for setting a new one.</span></div>

    {% for field in form %}
      <div>
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
      </div>
    {% endfor %}
    <div class="button-confirm">
      <button>Reset</button>
  </div>
  </form>
</div>
{% endblock %}