.history  {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 1em;
}

.history th {
    padding: .5em;
}

.history tr:first-child th + th {
    border-bottom: 1px solid #000;
}

.history th:first-child,
.history td:last-child {
    border-right: 1px solid #000;
}

.history tr:last-child td {
    border-bottom: 1px solid;
}

.history th:empty {
    border: none;
}

.history tr:nth-child(even) {
    background: #CCC
}

.history tr:nth-child(odd) {
    background: #FFF
}
