@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import 'constants.css';

body {
    margin: 0 !important;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--dark-brown);
}

main {
    padding: 0.5em 0.5em;
}