footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4%;
    background-color: var(--brown);
    color: var(--light);
    margin-top: 2em;
 }

footer img {
    width: 2rem;
    height: 2rem;
}

footer div {
    margin-left: .5em;
    margin-right: .5em;
}
