@import '../../../cheskers/static/cheskers/constants.css';

h1 {
    color: var(--orange-brown);
    font-size: 4rem;
    text-align: center;
}

.ranking-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    color: var(--light);
    font-size: 2rem;
    width: 15em;
    margin-bottom: 2em;
}

td {
    height: 2em;
}