.ranking  {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 1em;
}

.ranking th {
    padding: .5em;
}

.ranking tr:first-child th + th {
    border-bottom: 1px solid #000;
}

.ranking th:first-child,
.ranking td:last-child {
    border-right: 1px solid #000;
}

.ranking tr:last-child td {
    border-bottom: 1px solid;
}

.ranking th:empty {
    border: none;
}

.ranking tr:nth-child(even) {
    background: #CCC
}

.ranking tr:nth-child(odd) {
    background: #FFF
}
