{% extends 'cheskers/base.html' %}

{% load static %}

{% block title %}Matchmake{% endblock %}

{% block head_imports %}
    <link rel="stylesheet" href="{% static 'game/board.css' %}">
    <script src="{% static 'game/board.js' %}" defer></script>
{% endblock %}

{% block content %}
    <h2 id='timer'></h2>
    <h3 id='which_one'></h3>
    <h3 id='my_turn'></h3>
    
    <form id="form">
        <input type="text" name="message"/>
    </form>

    <p id="bad_move_comunicate"></p>

    <table class="chess-board">
        <tbody>
            <tr>
                <th></th>
                {% for letter in "ZABCDEFGHI"|make_list %}
                    <th>{{ letter }}</th>
                {% endfor %}
            </tr>
            {% for digit in "9876543210"|make_list %}
                <tr>
                    <th>{{ digit }}</th>
                    {% for letter in "ZABCDEFGHI"|make_list %}
                        {% cycle 'light' 'dark' as colorcycler silent%}
                        <td id="{{ letter }}{{ digit }}" class="{{ colorcycler }}"></td>
                    {% endfor %}
                    {% cycle colorcycler %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <button id="kill">End chat</button>
{% endblock %}