{% extends 'cheskers/base.html' %}

{% load static %}

{% block title %}Matchmake{% endblock %}

{% block head_imports %}
    <script src="{% static 'game/board.js' %}" defer></script>
{% endblock %}

{% block content %}
    <h1>Lets chat!</h1>

    <form id="form">
        <input type="text" name="message"/>
    </form>

    <p id="bad_move_comunicate"></p>

    <p id="board_row_1"></p>
    <p id="board_row_2"></p>
    <p id="board_row_3"></p>
    <p id="board_row_4"></p>
    <p id="board_row_5"></p>
    <p id="board_row_6"></p>
    <p id="board_row_7"></p>
    <p id="board_row_8"></p>
    <p id="board_row_9"></p>
    <p id="board_row_10"></p>

    <button id="kill">End chat</button>
{% endblock %}