{% extends 'cheskers/base.html' %}

{% load static %}

{% block title %}Matchmake{% endblock %}

{% block head_imports %}
    <script src="{% static 'game/matchmake.js' %}" defer></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <button id="matchmake">Play against human</button> or <a href="{% url 'game:play_bot' %}">Play against bot</a>
    <br>
    <form action="{% url 'game:join_room' %}">
        <a href="{% url 'game:create_room' %}">Create room</a> or
        <input type="text" name="room"/>
        <input type="submit" value="Join room"/>
    </form>
    <div id="message"></div>
{% endblock %}