{% extends 'cheskers/base.html' %}

{% load static %}

{% block title %}Matchmake{% endblock %}

{% block head_imports %}
    <script src="{% static 'game/matchmake.js' %}" defer></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <button id="matchmake">Play against human</button>
    <p><a href="">Play against bot</a></p>
    <a href="">Create room</a> or
    <form id="form">
        <input type="text" name="room"/>
    </form>
    <a href="">Join room</a>
    <div id="message"></div>
{% endblock %}